@import url('https://fonts.googleapis.com/css?family=Calligraffitti|Frijole|Griffy|Jura|Monoton|Permanent+Marker|Roboto|Rock+Salt');
@import url('https://fonts.googleapis.com/css?family=Arima+Madurai');

  /*************************************************************/
  /*****************ALWAYS INCLUDE SECTION**********************/
  /*************************************************************/
/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

  /*************************************************************/
  /*******************PLAIN OL TAGS SECTION*********************/
  /*************************************************************/
body {
    background: url(../img/no_jmp.jpg) no-repeat center top rgb(134,141,157);
    background-size: cover;
    width: 100%;
    }

main {
    /*background: rgba(255, 77, 0, .7);*/
    color: white;
    width: 100%;
    padding: 10px;
    }

h1 {
    color: rgba(200, 200, 50, .8);
    }

h2 {
    font-family: 'Rock Salt', cursive;
    text-shadow: 10px 10px 5px rgba(255, 77, 0, .7);
    font-size: 40px;
    font-weight: bold;
    background: rgba(100, 200, 50, .8);
    height: 10%;
    width: 100%;
    padding: 30px 0px;
    float: left;
    }

h3 {
    font-family: 'Rock Salt', cursive;
    text-shadow: 10px 10px 5px rgba(255, 77, 0, .7);
    font-size: 30px;
    font-weight: bold;
    height: 10%;
    width: 100%;
    color: rgba(255, 255, 255, .8);
    }
h4 {
    font-family: 'Rock Salt', cursive;
    /*text-shadow: 10px 10px 5px rgba(255, 77, 0, .7);*/
    font-size: 25px;
    font-weight: bold;
    background: rgba(100, 200, 50, .8);
    height: 10%;
    width: 100%;
    }

img {
    margin: 0 auto;
    padding: 1  0px;
    height: 40%;
    width: 40%;
    /*box-shadow: 10px 10px 5px rgba(200, 200, 50, .8);*/
    }

aside {
    /*float: left;*/
    background: rgba(255, 77, 0, 0);
    width: 100%;
    height: 20px;
    }

li a {
    font-family: 'Calligraffitti', cursive;
    color: rgba(255, 77, 0, .7);
    font-size: 2em;
    text-align: center;
    margin: 20px 0px 20px 0px;
    font-weight: bold;
    display: inline-block;
    list-style-type: circle;
    text-decoration: none;
    }

a:hover {
    background: rgba(255, 77, 0, 1);
    border-radius: 5px;
    color: black;
    /*padding: 5px 5px;*/
    }

ol {
    background: rgba(0,0,0, .4);
    }

p {
    font-family: 'Arima Madurai', cursive;
    color: rgba(255, 255, 255, 1);
    font-size: 1.5em;
    text-align: justify;
    }
/*p::first-letter {
    font-size: 200%;
    color: #fff;
}*/

  /*************************************************************/
  /***********************CLASS SECTION*************************/
  /*************************************************************/

.hdr {
    font-family: 'Rock Salt', cursive;
    text-shadow: 10px 10px 5px rgba(255, 77, 0, .7);
    font-size: 40px;
    font-weight: bold;
    /*background: rgba(100, 200, 50, .8);*/
    height: 10%;
    width: 100%;
    padding: 50px;
    float: left;
    }
.ftr{
    font-family: 'Roboto', cursive;
    text-align: center;
    font-weight: bold;
    background: rgba(200, 200, 50, .8);
    height: 5%;
    width: 100%;
    padding: 20px 0px;
    /*float: left;*/
    /*border-radius: 50%;*/
    }

.address {
    font-size: 30px;
    padding: 5px;
    }

.phone {
    padding: 5px;
    font-size: 20px;
    }

.main-up {
   text-align: center;
   }

.main-dn {
    text-align: center;
    }

.main-up-rt {
    float: right;
     border-style: solid;
    }

.main-dn-rt {
    float: right;
     border-style: solid;
    }

 .fb-logo {
    height: 2%;
    width: 2%;
    text-decoration: none;
    }

 .em-logo {
    height: 2%;
    width: 2%;
    text-decoration: none;
    }

.dg-menu {
    width: 75px;
    height: 4px;
    background-color: rgba(200, 200, 50, .8);
    color: white;
    box-shadow: 10px 10px 5px rgba(255, 77, 0, .7);
    margin: 6px 0px;
    font-size: 26px;
    }

.main-menu {
    font-family: 'Permanent Marker', cursive;
    text-shadow: 10px 10px 5px rgba(255, 77, 0, .7);
    font-size: 48px;
    text-align: center;
    }

.gen-list{
    font-family: 'Permanent Marker', cursive;
    /*text-shadow: 10px 10px 5px rgba(255, 77, 0, .7);*/
    background-color: rgba(0, 0, 0, .8);
    padding: 30px;
    margin: 20px;
    font-size: 28px;
    text-align: ;
    }

.img-adj {
    width: 100%;
    height: 10%;
    background-color: rgba(0, 0, 0, .8);
    padding: 20px;
    }

.miss-state-img{
    margin: 0 auto;
    display: block;
    width:50%;
    }

.ms-text {
     background-color: rgba(0, 0, 0, .8);
     padding: 30px;
    }

.ms-h3-tag{
    font-family: 'Rock Salt', cursive;
    text-shadow: 10px 10px 5px rgba(255, 77, 0, .7);
    font-size: 30px;
    font-weight: bold;
    background: rgba(100, 200, 50, .8);
    height: 10%;
    width: 100%;
    padding: 30px 0px 30px 10px;
    float: right;
}

.teach-bio-style{
    background-color: rgba(0, 0, 0, .8);
    padding: 10px;
}

.frm-style {
    display: block;
    padding: 10px 10px;
    margin: 10px;
    }
.dgshow{
    background: rgba(200, 200, 50, .8);
    padding: 0px 0px 30px 0px;
    }
.fees{
    background: rgba(200, 200, 50, .8);
    color: red;
    }


.flip {
    transform: rotate(180deg);
}

.under-const{
    width: 100%;
    height: 30%;
    display: inline-block;
    border-radius: 20px;
    }

.beatft-page{
    background: url(../img/action.jpg) no-repeat center top rgb(134,141,157);
    background-size: cover;
    max-width: 100%;
    }
.bf1{
    float: right;
    width: 90%;
    border-radius: 5px;
    }
.bf2{
    float: right;
    width: 32%;
    border-radius: 25px;
    }
.bf3{
    float: left;
    width: 62%;
    border-radius: 15px;
    }
.bf4{
    float: right;
    width: 52%;
    border-radius: 35px;
    }
.bf5{
    float: left;
    width: 110%;
    border-radius: 10px;
    }
.bf6{
    float: right;
    width: 80%;
    border-radius: 45px;
    }
.bf7{
    float: right;
    width: 70%;
    border-radius: 20px;
    }
.btn {
    margin: 40px 300px 40px 0px;
    padding: 10px;
    color: yellow;
    background: rgba(100, 200, 50, .8);
    border-radius: 40%;
    font-family: 'Rock Salt', cursive;
    }
.show-pics{
    background: rgba(255, 77, 0, .7);
    border-radius: 0px;
    padding: 10px;
    }
.show-dr{
    background: rgba(100, 200, 50, .8);
    border-radius: 0px;
    padding: 10px;
    }
.show-per{
    background: rgba(200, 200, 50, .8);
    border-radius: 0px;
    padding: 10px;
    }
.scroll{
    background: rgba(100, 200, 50, .8);
    }
  /*************************************************************/
  /**************************ID SECTION*************************/
  /*************************************************************/
#ftr-date{
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    }
#submit-btn {
    font-family: 'Rock Salt', cursive;
    text-shadow: 10px 10px 5px rgba(200, 200, 50, .8);
    background: rgba(100, 200, 50, 0);
    border: none;
    float: left;
     color: rgba(200, 200, 50, .8);
    }
#home-btn {
    font-family: 'Rock Salt', cursive;
    text-shadow: 10px 10px 5px rgba(200, 200, 50, .8);
    background: rgba(100, 200, 50, 0);
    border: none;
    float: left;
     color: rgba(200, 200, 50, .8);
    }
#dg-menu{
    padding: 15px 15px 15px 0px;
    }
#hdr-menu {
     background: rgba(200, 200, 50, .2);
     display: none;
     }
#register{
     background-color: rgba(0, 0, 0, .8);
     padding: 30px;
     font-family: 'Roboto', cursive;
     font-size: 2em;
    }

nav {

    display: inline;

    }

/****************************************/
/*Media Query Section*/
/****************************************/
@media screen and (max-width: 768px){

.main-up {
   display: none;
   }

.main-dn {
    display: none;
    }

.main-up-rt {
    display: none;
    }

.main-dn-rt {
    display: none;
    }
h1, h2, h3, h4 {
    font-size: 1em;
    }
p {
    font-size: 1em;
    }
}
